<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ky.jzk.mapper.CommodityMapper">
    <cache eviction="FIFO" readOnly="true" size="1024" flushInterval="30000"/>
    <insert id="insert" parameterType="cn.ky.jzk.model.Commodity">
        INSERT INTO sys_commodity (comId, comName, comQuantity, comQuantityNow, comEachPrice, comDescription)
        VALUE (#{comId}, #{comName}, #{comQuantity}, #{comQuantityNow}, #{comEachPrice}, #{comDescription})
    </insert>
    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM sys_commodity
        WHERE comId = #{comId}
    </delete>
    <delete id="deleteAllZero" parameterType="java.lang.String">
        DELETE FROM sys_commodity
        WHERE comQuantityNow = 0
        AND comId IN (
            SELECT comId
            FROM rel_user_commodity
            WHERE userName = #{userName}
        )
    </delete>
    <update id="update" parameterType="cn.ky.jzk.model.Commodity">
        UPDATE sys_commodity
        <set>
            <if test="comName != null and comName != ''">
                comName = #{comName},
            </if>
            <if test="comQuantity != null">
                comQuantity = #{comQuantity},
            </if>
            <if test="comQuantityNow != null">
                comQuantityNow = #{comQuantityNow},
            </if>
            <if test="comEachPrice != null">
                comEachPrice = #{comEachPrice},
            </if>
            <if test="comDescription != null">
                comDescription = #{comDescription},
            </if>
        </set>
        WHERE comId = #{comId}
    </update>
    <select id="select" resultType="cn.ky.jzk.model.Commodity">
        SELECT *
        FROM sys_commodity
    </select>
    <select id="selectById" resultType="cn.ky.jzk.model.Commodity">
        SELECT *
        FROM sys_commodity
        WHERE comId = #{comId}
    </select>
    <select id="selectByName" resultType="cn.ky.jzk.model.Commodity">
        SELECT *
        FROM sys_commodity
        WHERE comName like '%${comName}%'
    </select>
    <select id="selectByPriceBetween" resultType="cn.ky.jzk.model.Commodity">
        SELECT *
        FROM sys_commodity
        WHERE comEachPrice &gt;= #{min}
        AND comEachPrice &lt;= #{max}
    </select>
    <select id="selectByQuantityNow" resultType="cn.ky.jzk.model.Commodity">
        SELECT *
        FROM sys_commodity
        WHERE comQuantityNow &lt;= #{comQuantityNow}
    </select>
</mapper>
