<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ky.jzk.mapper.CommodityMapper">
    <cache eviction="FIFO" readOnly="true" size="1024" flushInterval="30000"/>
    <insert id="insert" parameterType="cn.ky.jzk.model.Commodity">
        INSERT INTO sys_commodity (comId, comName, comQuantity, comQuantityNow, comEachPrice, comDescription, comPicture)
        VALUE (#{comId}, #{comName}, #{comQuantity}, #{comQuantityNow}, #{comEachPrice}, #{comDescription}, #{comPicture})
    </insert>
    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM sys_commodity
        WHERE comId = #{comId}
    </delete>
    <delete id="deleteAllZero" parameterType="java.lang.String">
        DELETE FROM sys_commodity
        WHERE comQuantityNow = 0
        AND comId IN (
            SELECT comId
            FROM rel_user_commodity
            WHERE userName = #{userName}
        )
    </delete>
    <update id="update" parameterType="cn.ky.jzk.model.Commodity">
        UPDATE sys_commodity
        <set>
            <if test="comName != null and comName != ''">
                comName = #{comName},
            </if>
            <if test="comQuantity != null">
                comQuantity = #{comQuantity},
            </if>
            <if test="comQuantityNow != null">
                comQuantityNow = #{comQuantityNow},
            </if>
            <if test="comEachPrice != null">
                comEachPrice = #{comEachPrice},
            </if>
            <if test="comDescription != null and comDescription != ''">
                comDescription = #{comDescription},
            </if>
            <if test="comPicture != null and comPicture != ''">
                comPicture = #{comPicture},
            </if>
        </set>
        WHERE comId = #{comId}
    </update>
    <select id="select" resultType="cn.ky.jzk.model.Commodity">
        SELECT *
        FROM sys_commodity
    </select>
    <select id="selectById" resultType="cn.ky.jzk.model.Commodity">
        SELECT *
        FROM sys_commodity
        WHERE comId = #{comId}
    </select>
    <select id="selectByName" resultType="cn.ky.jzk.model.Commodity">
        SELECT *
        FROM sys_commodity
        WHERE comName like '%${comName}%'
    </select>
    <select id="selectByPriceBetween" resultType="cn.ky.jzk.model.Commodity">
        SELECT *
        FROM sys_commodity
        WHERE comEachPrice &gt;= #{min}
        AND comEachPrice &lt;= #{max}
    </select>
    <select id="selectByQuantityNow" resultType="cn.ky.jzk.model.Commodity">
        SELECT *
        FROM sys_commodity
        WHERE comQuantityNow &lt;= #{comQuantityNow}
    </select>
    <select id="selectByQuantityBetween" resultType="cn.ky.jzk.model.Commodity">
        SELECT *
        FROM sys_commodity
        WHERE comQuantityNow &gt;= #{min}
        AND comQuantityNow &lt;= #{max}
    </select>
    <select id="selectByAnyParam" resultType="cn.ky.jzk.model.Commodity">
        SELECT *
        FROM sys_commodity
        WHERE 1=1
        <if test="comId != null and comId != ''">
            AND comId like concat('%', '${comId}', '%')
        </if>
        <if test="comName != null and comName != ''">
            AND comName like concat('%', '${comName}', '%')
        </if>
        AND comEachPrice &gt;= #{minPrice}
        AND comEachPrice &lt;= #{maxPrice}
        AND comQuantityNow &gt;= #{minQuantity}
        AND comQuantityNow &lt;= #{maxQuantity}
        <if test="comDescription != null and comDescription != ''">
            AND comDescription like concat('%', '${comDescription}', '%')
        </if>
    </select>
</mapper>
