<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ky.jzk.mapper.RelationCommodityUserMapper">
    <cache eviction="FIFO" readOnly="true" size="1024" flushInterval="30000"/>
    <insert id="insert">
        INSERT INTO rel_user_commodity (userName, comId)
        VALUE (#{userName}, #{comId})
    </insert>
    <delete id="deleteById">
        DELETE FROM rel_user_commodity
        WHERE comId = #{comId}
    </delete>
    <delete id="deleteByName">
        DELETE FROM rel_user_commodity
        WHERE userName = #{userName}
    </delete>
    <delete id="deleteSingle">
        DELETE FROM rel_user_commodity
        WHERE userName = #{userName}
        AND comId = #{comId}
    </delete>
    <select id="selectByName" resultType="string">
        SELECT comId
        FROM rel_user_commodity
        WHERE userName = #{userName}
    </select>
    <select id="selectById" resultType="string">
        SELECT userName
        FROM rel_user_commodity
        WHERE comId = #{comId}
    </select>
</mapper>
